html.body {
    overflow: hidden;
}

.webgl {
    position: fixed;
    top: 0;
    left: 0;
    outline: none;
}
#info {
    color: rgb(255, 255, 255);
    font-family: "Fira Mono", Monaco, "Andale Mono", "Lucida Console",
        "Bitstream Vera Sans Mono", "Courier New", Courier, monospace;
    position: absolute;
    bottom: 5px;
    left: 20px;
    right: 20px;
    text-align: center;
    z-index: 100;
    display: block;
}
#head {
    color: rgb(255, 255, 255);
    font-family: "Fira Mono", Monaco, "Andale Mono", "Lucida Console",
        "Bitstream Vera Sans Mono", "Courier New", Courier, monospace;
    position: absolute;
    top: 0px;
    left: 20px;
    font-size: 200%;
}
#notes {
    color: rgb(255, 255, 255);
    font-family: "Fira Mono", Monaco, "Andale Mono", "Lucida Console",
        "Bitstream Vera Sans Mono", "Courier New", Courier, monospace;
    position: absolute;
    top: 10px;
    right: 20px;
}
a:link {
    color: rgb(0, 110, 255);
    background-color: transparent;
    text-decoration: none;
}

a:visited {
    color: rgb(255, 255, 255);
    background-color: transparent;
    text-decoration: none;
}

a:hover {
    color: rgb(21, 68, 255);
    background-color: transparent;
    font-weight: bold;
}

a:active {
    color: rgb(255, 255, 255);
    background-color: transparent;
    text-decoration: underline;
}
